@media ( min-width: 760px ) and ( max-width: 991px) {    
    .menu.menu-left,
    .menu.menu-right{
        display: none;
    }
}

@media ( min-width: 992px ) and ( max-width: 1199px) {    
	.col-md-6.logo-wrap,
	.col-md-8.menu-centered {
		width: 100%;
	}
}
@media (min-width: @screen-md-min) {
	ul.home-gallery-list li a {
		width: 230px;
	}
}
@media (min-width: @screen-sm-min) {
	#search {
		width: 200px !important;
	}
}
@media (max-width: @screen-xs-max) {
	ul.home-gallery-list li {
		margin-bottom: 20px;
		width: 180px;
		margin-left: 20px;
	}	
}