@import url('http://fonts.googleapis.com/css?family=Open+Sans');
body {
	padding-top: 70px;	
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	text-decoration: none;
}
.blog-row {
	min-height: 400px;
}